* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  margin: 0 15px;
  position: relative;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0 20px;
  }
}

body::before {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("./assets/2850815.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  content: "";
}

.weather-app {
  height: 100%;
  margin: 0 auto;
  position: relative;
}
